/* This is an empty style sheet in CSS */
.header
{
   background-color: beige;
   text-align: center;
   padding: 20px; 
   max-height: max-content;
}

.body 
{
    background-color: bisque;
    text-align: center;
    padding: 10px;
}

.banner
{
    background-color: beige;
    text-align: center;
    padding: 20px;
    max-height: max-content;
}

p
{
    color: maroon;
    font-style: normal;
    font: small-caption;
}

h1
{
    color: black;
    font-style: normal;
    font: small-caption;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
  }

.button:hover {
    background-color: yellow-green;
}

.flex-container {
    display: flex;
    background-color: orangered;
    align-items: center;
    align-self: center;
    padding: 2px;
    margin: 5px;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    align-content: center;
  }